<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `The Arsht Cannon Fund provided funding of the Delaware Hispanic Community Needs Grants from 2009 through 2011`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `The Arsht Cannon Fund provided funding of the Delaware Hispanic Community Needs Grants from 2009 through 2011`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `The Arsht Cannon Fund provided funding of the Delaware Hispanic Community Needs Grants from 2009 through 2011`...</div>
<div class="progress-msg"><b>CREATING</b> `The Arsht Cannon Fund provided funding of the Delaware Hispanic Community Needs Grants from 2009 through 2011` `News`</div>
<div class="progress-msg">Associate post `The Arsht Cannon Fund provided funding of the Delaware Hispanic Community Needs Grants from 2009 through 2011` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `The Arsht Cannon Fund provided funding of the Delaware Hispanic Community Needs Grants from 2009 through 2011` `News` (ID: 128)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `The Gonzalo Martinez Award for Philanthropy`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `The Gonzalo Martinez Award for Philanthropy`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `The Gonzalo Martinez Award for Philanthropy`...</div>
<div class="progress-msg"><b>CREATING</b> `The Gonzalo Martinez Award for Philanthropy` `News`</div>
<div class="progress-msg">Associate post `The Gonzalo Martinez Award for Philanthropy` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `The Gonzalo Martinez Award for Philanthropy` `News` (ID: 129)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Nemours’ BrightStart! Dyslexia Initiative`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Nemours’ BrightStart! Dyslexia Initiative`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Nemours’ BrightStart! Dyslexia Initiative`...</div>
<div class="progress-msg"><b>CREATING</b> `Nemours’ BrightStart! Dyslexia Initiative` `News`</div>
<div class="progress-msg">Associate post `Nemours’ BrightStart! Dyslexia Initiative` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Nemours’ BrightStart! Dyslexia Initiative` `News` (ID: 130)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Christine Cannon of the DCF’s Arsht-Cannon Fund  Elected as a New Board Director of NCLR`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Christine Cannon of the DCF’s Arsht-Cannon Fund  Elected as a New Board Director of NCLR`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Christine Cannon of the DCF’s Arsht-Cannon Fund  Elected as a New Board Director of NCLR`...</div>
<div class="progress-msg"><b>CREATING</b> `Christine Cannon of the DCF’s Arsht-Cannon Fund  Elected as a New Board Director of NCLR` `News`</div>
<div class="progress-msg">Associate post `Christine Cannon of the DCF’s Arsht-Cannon Fund  Elected as a New Board Director of NCLR` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Christine Cannon of the DCF’s Arsht-Cannon Fund  Elected as a New Board Director of NCLR` `News` (ID: 131)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Arsht-Cannon Fund Awards $600,000 in Grants Statewide  to Benefit Delaware’s Hispanic Community`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Arsht-Cannon Fund Awards $600,000 in Grants Statewide  to Benefit Delaware’s Hispanic Community`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Arsht-Cannon Fund Awards $600,000 in Grants Statewide  to Benefit Delaware’s Hispanic Community`...</div>
<div class="progress-msg"><b>CREATING</b> `Arsht-Cannon Fund Awards $600,000 in Grants Statewide  to Benefit Delaware’s Hispanic Community` `News`</div>
<div class="progress-msg">Associate post `Arsht-Cannon Fund Awards $600,000 in Grants Statewide  to Benefit Delaware’s Hispanic Community` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Arsht-Cannon Fund Awards $600,000 in Grants Statewide  to Benefit Delaware’s Hispanic Community` `News` (ID: 132)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Women in Business 2013: Christine A. Cannon, Hockessin`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Women in Business 2013: Christine A. Cannon, Hockessin`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Women in Business 2013: Christine A. Cannon, Hockessin`...</div>
<div class="progress-msg"><b>CREATING</b> `Women in Business 2013: Christine A. Cannon, Hockessin` `News`</div>
<div class="progress-msg">Associate post `Women in Business 2013: Christine A. Cannon, Hockessin` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Women in Business 2013: Christine A. Cannon, Hockessin` `News` (ID: 133)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Arsht-Cannon Fund -- Literacy Volunteers Serving Adults`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Arsht-Cannon Fund -- Literacy Volunteers Serving Adults`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Arsht-Cannon Fund -- Literacy Volunteers Serving Adults`...</div>
<div class="progress-msg"><b>CREATING</b> `Arsht-Cannon Fund -- Literacy Volunteers Serving Adults` `News`</div>
<div class="progress-msg">Associate post `Arsht-Cannon Fund -- Literacy Volunteers Serving Adults` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Arsht-Cannon Fund -- Literacy Volunteers Serving Adults` `News` (ID: 134)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Arsht-Cannon Fund Supports Bilingual Therapy`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Arsht-Cannon Fund Supports Bilingual Therapy`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Arsht-Cannon Fund Supports Bilingual Therapy`...</div>
<div class="progress-msg"><b>CREATING</b> `Arsht-Cannon Fund Supports Bilingual Therapy` `News`</div>
<div class="progress-msg">Associate post `Arsht-Cannon Fund Supports Bilingual Therapy` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Arsht-Cannon Fund Supports Bilingual Therapy` `News` (ID: 136)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hispanic Heritage Celebration 2014`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hispanic Heritage Celebration 2014`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Hispanic Heritage Celebration 2014`...</div>
<div class="progress-msg"><b>CREATING</b> `Hispanic Heritage Celebration 2014` `News`</div>
<div class="progress-msg">Associate post `Hispanic Heritage Celebration 2014` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hispanic Heritage Celebration 2014` `News` (ID: 137)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hispanics: More mobile access but less health info access. Huh?`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hispanics: More mobile access but less health info access. Huh?`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Hispanics: More mobile access but less health info access. Huh?`...</div>
<div class="progress-msg"><b>CREATING</b> `Hispanics: More mobile access but less health info access. Huh?` `News`</div>
<div class="progress-msg">Associate post `Hispanics: More mobile access but less health info access. Huh?` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hispanics: More mobile access but less health info access. Huh?` `News` (ID: 138)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Learning English is a Family Affair`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Learning English is a Family Affair`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Learning English is a Family Affair`...</div>
<div class="progress-msg"><b>CREATING</b> `Learning English is a Family Affair` `News`</div>
<div class="progress-msg">Associate post `Learning English is a Family Affair` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Learning English is a Family Affair` `News` (ID: 139)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Paying Tribute to Board President, Matt Haley`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Paying Tribute to Board President, Matt Haley`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Paying Tribute to Board President, Matt Haley`...</div>
<div class="progress-msg"><b>CREATING</b> `Paying Tribute to Board President, Matt Haley` `News`</div>
<div class="progress-msg">Associate post `Paying Tribute to Board President, Matt Haley` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Paying Tribute to Board President, Matt Haley` `News` (ID: 140)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Foster Youth to Unveil Mural for New Castle County Courthouse`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Foster Youth to Unveil Mural for New Castle County Courthouse`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Foster Youth to Unveil Mural for New Castle County Courthouse`...</div>
<div class="progress-msg"><b>CREATING</b> `Foster Youth to Unveil Mural for New Castle County Courthouse` `News`</div>
<div class="progress-msg">Associate post `Foster Youth to Unveil Mural for New Castle County Courthouse` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Foster Youth to Unveil Mural for New Castle County Courthouse` `News` (ID: 141)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Nemours BrightStart!’s new website has launched!`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Nemours BrightStart!’s new website has launched!`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Nemours BrightStart!’s new website has launched!`...</div>
<div class="progress-msg"><b>CREATING</b> `Nemours BrightStart!’s new website has launched!` `News`</div>
<div class="progress-msg">Associate post `Nemours BrightStart!’s new website has launched!` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Nemours BrightStart!’s new website has launched!` `News` (ID: 142)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Gratitude Report HHM at the Schwartz event Oct 4 2014`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Gratitude Report HHM at the Schwartz event Oct 4 2014`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Gratitude Report HHM at the Schwartz event Oct 4 2014`...</div>
<div class="progress-msg"><b>CREATING</b> `Gratitude Report HHM at the Schwartz event Oct 4 2014` `News`</div>
<div class="progress-msg">Associate post `Gratitude Report HHM at the Schwartz event Oct 4 2014` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Gratitude Report HHM at the Schwartz event Oct 4 2014` `News` (ID: 143)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `What's New at the Latin Center? May 2015`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `What's New at the Latin Center? May 2015`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `What's New at the Latin Center? May 2015`...</div>
<div class="progress-msg"><b>CREATING</b> `What's New at the Latin Center? May 2015` `News`</div>
<div class="progress-msg">Associate post `What's New at the Latin Center? May 2015` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `What's New at the Latin Center? May 2015` `News` (ID: 144)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Grant funds awarded for snacks for after-school program`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Grant funds awarded for snacks for after-school program`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Grant funds awarded for snacks for after-school program`...</div>
<div class="progress-msg"><b>CREATING</b> `Grant funds awarded for snacks for after-school program` `News`</div>
<div class="progress-msg">Associate post `Grant funds awarded for snacks for after-school program` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Grant funds awarded for snacks for after-school program` `News` (ID: 145)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `The OperaDelaware and The Wilmington Children's Chorus Teamed Up for the Neighborhood Choir Program`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `The OperaDelaware and The Wilmington Children's Chorus Teamed Up for the Neighborhood Choir Program`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `The OperaDelaware and The Wilmington Children's Chorus Teamed Up for the Neighborhood Choir Program`...</div>
<div class="progress-msg"><b>CREATING</b> `The OperaDelaware and The Wilmington Children's Chorus Teamed Up for the Neighborhood Choir Program` `News`</div>
<div class="progress-msg">Associate post `The OperaDelaware and The Wilmington Children's Chorus Teamed Up for the Neighborhood Choir Program` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `The OperaDelaware and The Wilmington Children's Chorus Teamed Up for the Neighborhood Choir Program` `News` (ID: 146)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Flyer 2015 Milton Library HHM`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Flyer 2015 Milton Library HHM`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Flyer 2015 Milton Library HHM`...</div>
<div class="progress-msg"><b>CREATING</b> `Flyer 2015 Milton Library HHM` `News`</div>
<div class="progress-msg">Associate post `Flyer 2015 Milton Library HHM` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Flyer 2015 Milton Library HHM` `News` (ID: 147)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Strong and Healthy Latinas event celebrates 10 years of bringing Hispanic community together for good health`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Strong and Healthy Latinas event celebrates 10 years of bringing Hispanic community together for good health`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Strong and Healthy Latinas event celebrates 10 years of bringing Hispanic community together for good health`...</div>
<div class="progress-msg"><b>CREATING</b> `Strong and Healthy Latinas event celebrates 10 years of bringing Hispanic community together for good health` `News`</div>
<div class="progress-msg">Associate post `Strong and Healthy Latinas event celebrates 10 years of bringing Hispanic community together for good health` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Strong and Healthy Latinas event celebrates 10 years of bringing Hispanic community together for good health` `News` (ID: 148)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Bilingual education in the First State`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Bilingual education in the First State`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Bilingual education in the First State`...</div>
<div class="progress-msg"><b>CREATING</b> `Bilingual education in the First State` `News`</div>
<div class="progress-msg">Associate post `Bilingual education in the First State` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Bilingual education in the First State` `News` (ID: 149)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `OperaDelaware’s Neighborhood Choir Program gets $15,000 grant`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `OperaDelaware’s Neighborhood Choir Program gets $15,000 grant`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `OperaDelaware’s Neighborhood Choir Program gets $15,000 grant`...</div>
<div class="progress-msg"><b>CREATING</b> `OperaDelaware’s Neighborhood Choir Program gets $15,000 grant` `News`</div>
<div class="progress-msg">Associate post `OperaDelaware’s Neighborhood Choir Program gets $15,000 grant` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `OperaDelaware’s Neighborhood Choir Program gets $15,000 grant` `News` (ID: 150)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `OperaDelaware Receives New Funds from Arsht-Cannon for Children's Project`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `OperaDelaware Receives New Funds from Arsht-Cannon for Children's Project`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `OperaDelaware Receives New Funds from Arsht-Cannon for Children's Project`...</div>
<div class="progress-msg"><b>CREATING</b> `OperaDelaware Receives New Funds from Arsht-Cannon for Children's Project` `News`</div>
<div class="progress-msg">Associate post `OperaDelaware Receives New Funds from Arsht-Cannon for Children's Project` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `OperaDelaware Receives New Funds from Arsht-Cannon for Children's Project` `News` (ID: 151)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Dr. Christine Cannon receives Estrella Award`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Dr. Christine Cannon receives Estrella Award`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Dr. Christine Cannon receives Estrella Award`...</div>
<div class="progress-msg"><b>CREATING</b> `Dr. Christine Cannon receives Estrella Award` `News`</div>
<div class="progress-msg">Associate post `Dr. Christine Cannon receives Estrella Award` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Dr. Christine Cannon receives Estrella Award` `News` (ID: 152)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hispanic Outreach and Boys Scholarship Programs to Benefit from Arsht-Cannon Grants`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hispanic Outreach and Boys Scholarship Programs to Benefit from Arsht-Cannon Grants`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Hispanic Outreach and Boys Scholarship Programs to Benefit from Arsht-Cannon Grants`...</div>
<div class="progress-msg"><b>CREATING</b> `Hispanic Outreach and Boys Scholarship Programs to Benefit from Arsht-Cannon Grants` `News`</div>
<div class="progress-msg">Associate post `Hispanic Outreach and Boys Scholarship Programs to Benefit from Arsht-Cannon Grants` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Hispanic Outreach and Boys Scholarship Programs to Benefit from Arsht-Cannon Grants` `News` (ID: 153)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Arsht Cannon Fund grants DCRAC $25,000 To be used for the Low Income Tax Clinic`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Arsht Cannon Fund grants DCRAC $25,000 To be used for the Low Income Tax Clinic`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Arsht Cannon Fund grants DCRAC $25,000 To be used for the Low Income Tax Clinic`...</div>
<div class="progress-msg"><b>CREATING</b> `Arsht Cannon Fund grants DCRAC $25,000 To be used for the Low Income Tax Clinic` `News`</div>
<div class="progress-msg">Associate post `Arsht Cannon Fund grants DCRAC $25,000 To be used for the Low Income Tax Clinic` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Arsht Cannon Fund grants DCRAC $25,000 To be used for the Low Income Tax Clinic` `News` (ID: 154)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #27</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Vision to learn: Giving kids a chance to succeed`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Vision to learn: Giving kids a chance to succeed`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Vision to learn: Giving kids a chance to succeed`...</div>
<div class="progress-msg"><b>CREATING</b> `Vision to learn: Giving kids a chance to succeed` `News`</div>
<div class="progress-msg">Associate post `Vision to learn: Giving kids a chance to succeed` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Vision to learn: Giving kids a chance to succeed` `News` (ID: 155)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #28</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Tylers Camp Press Release In Partnership with Sussex Academy`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Tylers Camp Press Release In Partnership with Sussex Academy`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Tylers Camp Press Release In Partnership with Sussex Academy`...</div>
<div class="progress-msg"><b>CREATING</b> `Tylers Camp Press Release In Partnership with Sussex Academy` `News`</div>
<div class="progress-msg">Associate post `Tylers Camp Press Release In Partnership with Sussex Academy` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Tylers Camp Press Release In Partnership with Sussex Academy` `News` (ID: 156)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #29</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `SummerCollab brings boat building (and more) to Sussex County students`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `SummerCollab brings boat building (and more) to Sussex County students`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `SummerCollab brings boat building (and more) to Sussex County students`...</div>
<div class="progress-msg"><b>CREATING</b> `SummerCollab brings boat building (and more) to Sussex County students` `News`</div>
<div class="progress-msg">Associate post `SummerCollab brings boat building (and more) to Sussex County students` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `SummerCollab brings boat building (and more) to Sussex County students` `News` (ID: 157)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #30</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Rehoboth church continues providing language program`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Rehoboth church continues providing language program`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Rehoboth church continues providing language program`...</div>
<div class="progress-msg"><b>CREATING</b> `Rehoboth church continues providing language program` `News`</div>
<div class="progress-msg">Associate post `Rehoboth church continues providing language program` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Rehoboth church continues providing language program` `News` (ID: 158)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #31</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `English-learning students need our help: Delaware Voices`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `English-learning students need our help: Delaware Voices`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `English-learning students need our help: Delaware Voices`...</div>
<div class="progress-msg"><b>CREATING</b> `English-learning students need our help: Delaware Voices` `News`</div>
<div class="progress-msg">Associate post `English-learning students need our help: Delaware Voices` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `English-learning students need our help: Delaware Voices` `News` (ID: 159)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #32</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Grant dollars are coming to the aid of Delaware’s Hispanic population`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Grant dollars are coming to the aid of Delaware’s Hispanic population`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Grant dollars are coming to the aid of Delaware’s Hispanic population`...</div>
<div class="progress-msg"><b>CREATING</b> `Grant dollars are coming to the aid of Delaware’s Hispanic population` `News`</div>
<div class="progress-msg">Associate post `Grant dollars are coming to the aid of Delaware’s Hispanic population` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Grant dollars are coming to the aid of Delaware’s Hispanic population` `News` (ID: 160)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #33</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `In Delaware, 1 in 6 adults struggles to read`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `In Delaware, 1 in 6 adults struggles to read`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `In Delaware, 1 in 6 adults struggles to read`...</div>
<div class="progress-msg"><b>CREATING</b> `In Delaware, 1 in 6 adults struggles to read` `News`</div>
<div class="progress-msg">Associate post `In Delaware, 1 in 6 adults struggles to read` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `In Delaware, 1 in 6 adults struggles to read` `News` (ID: 161)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #34</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `FAME, Inc. Receives $12,879 Grant from Arsht- Cannon Fund to Support STEM Education`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `FAME, Inc. Receives $12,879 Grant from Arsht- Cannon Fund to Support STEM Education`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `FAME, Inc. Receives $12,879 Grant from Arsht- Cannon Fund to Support STEM Education`...</div>
<div class="progress-msg"><b>CREATING</b> `FAME, Inc. Receives $12,879 Grant from Arsht- Cannon Fund to Support STEM Education` `News`</div>
<div class="progress-msg">Associate post `FAME, Inc. Receives $12,879 Grant from Arsht- Cannon Fund to Support STEM Education` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `FAME, Inc. Receives $12,879 Grant from Arsht- Cannon Fund to Support STEM Education` `News` (ID: 162)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #35</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Arsht-Cannon Fund awards $677K`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Arsht-Cannon Fund awards $677K`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Arsht-Cannon Fund awards $677K`...</div>
<div class="progress-msg"><b>CREATING</b> `Arsht-Cannon Fund awards $677K` `News`</div>
<div class="progress-msg">Associate post `Arsht-Cannon Fund awards $677K` with current import ...</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Arsht-Cannon Fund awards $677K` `News` (ID: 163)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
