<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing advanced custom fields...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Hispanic Heritage Month`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Hispanic Heritage Month`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Hispanic Heritage Month`...</div>
<div class="progress-msg"><b>CREATING</b> `Hispanic Heritage Month` `Gallery`</div>
<div class="progress-msg">Associate post `Hispanic Heritage Month` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1380.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1380.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1380.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1380.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1380.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1381.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1381.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1381.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1381.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1381.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1383-e1415897339251.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1383-e1415897339251.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1383-e1415897339251.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1383-e1415897339251.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1383-e1415897339251.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1379.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1379.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1379.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1379.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1379.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1370.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1370.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1370.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1370.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1370.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1378.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1378.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1378.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1378.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1378.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1339.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1339.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1339.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1339.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1339.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1356-e1415897125215.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1356-e1415897125215.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1356-e1415897125215.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1356-e1415897125215.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1356-e1415897125215.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1366.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1366.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1366.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1366.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1366.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1336.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1336.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1336.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1336.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1336.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1338.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1338.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1338.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1338.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1338.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1331-e1415897110823.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1331-e1415897110823.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1331-e1415897110823.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1331-e1415897110823.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1331-e1415897110823.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1335.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1335.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1335.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1335.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1335.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1320.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1320.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1320.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1320.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1320.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1323-e1415897134635.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1323-e1415897134635.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1323-e1415897134635.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1323-e1415897134635.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1323-e1415897134635.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1325.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1325.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1325.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1325.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1325.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1317.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1317.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1317.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1317.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1317.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1319.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1319.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1319.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1319.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1319.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1297-e1415897329696.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1297-e1415897329696.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1297-e1415897329696.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1297-e1415897329696.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1297-e1415897329696.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1311.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1311.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1311.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1311.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1311.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1294.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1294.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1294.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1294.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1294.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1295.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1295.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1295.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1295.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1295.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1280-e1415897381368.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1280-e1415897381368.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1280-e1415897381368.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1280-e1415897381368.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1280-e1415897381368.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1281.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1281.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1281.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1281.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1281.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1290-e1415897363263.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1290-e1415897363263.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1290-e1415897363263.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1290-e1415897363263.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1290-e1415897363263.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1275.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1275.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1275.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1275.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1275.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1279.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1279.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1279.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1279.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1279.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1273.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1273.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1273.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1273.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1273.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1274.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1274.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1274.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1274.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1274.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1267.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1267.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1267.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1267.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1267.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1268-e1415897422424.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1268-e1415897422424.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1268-e1415897422424.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1268-e1415897422424.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1268-e1415897422424.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1269-e1415897397484.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1269-e1415897397484.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1269-e1415897397484.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1269-e1415897397484.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1269-e1415897397484.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1265.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1265.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1265.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1265.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1265.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1266.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1266.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1266.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1266.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1266.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1263.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1263.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1263.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1263.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1263.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1264.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1264.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1264.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1264.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1264.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1261-e1415897448736.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1261-e1415897448736.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1261-e1415897448736.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1261-e1415897448736.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1261-e1415897448736.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1262.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1262.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1262.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1262.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1262.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1253.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1253.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1253.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1253.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1253.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1254.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1254.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1254.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1254.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1254.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1255.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1255.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1255.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1255.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1255.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1251.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1251.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1251.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1251.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1251.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1252.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1252.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1252.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1252.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1252.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1249.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1249.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1249.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1249.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1249.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1250.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1250.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1250.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1250.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1250.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1247.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1247.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1247.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1247.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1247.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1248.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1248.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1248.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1248.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1248.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1246.jpeg` for `Hispanic Heritage Month` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1246.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/DSCN1246.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1246.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/DSCN1246.jpeg`</div>
<div class="progress-msg"><b>CREATED</b> `Hispanic Heritage Month` `Gallery` (ID: 293)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Teamwork`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Teamwork`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Teamwork`...</div>
<div class="progress-msg"><b>CREATING</b> `Teamwork` `Gallery`</div>
<div class="progress-msg">Associate post `Teamwork` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/Arsht_Cannon-125.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/Arsht_Cannon-125.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/Arsht_Cannon-125.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/Arsht_Cannon-125.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/Arsht_Cannon-125.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/UntitIMG_1140.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/UntitIMG_1140.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/UntitIMG_1140.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/UntitIMG_1140.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/UntitIMG_1140.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1140.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1140.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1140.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1140.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1140.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1136.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1136.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1136.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1136.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1136.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1133.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1133.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1133.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1133.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1133.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1124.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1124.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1124.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1124.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1124.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1121.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1121.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1121.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1121.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1121.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1117.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1117.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1117.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1117.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1117.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1111.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1111.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1111.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1111.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1111.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_0722.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_0722.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_0722.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_0722.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_0722.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_0721.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_0721.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_0721.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_0721.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_0721.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/Home-track.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/Home-track.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/Home-track.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/Home-track.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/Home-track.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/Healthy-childrens-snacks.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/Healthy-childrens-snacks.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/Healthy-childrens-snacks.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/Healthy-childrens-snacks.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/Healthy-childrens-snacks.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1107.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1107.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1107.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1107.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1107.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/Photo-with-bilingual-PCIT-team-at-Delaware-Guidance-Services-for-Children-and-Youth-Inc..jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/Photo-with-bilingual-PCIT-team-at-Delaware-Guidance-Services-for-Children-and-Youth-Inc..jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/Photo-with-bilingual-PCIT-team-at-Delaware-Guidance-Services-for-Children-and-Youth-Inc..jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/Photo-with-bilingual-PCIT-team-at-Delaware-Guidance-Services-for-Children-and-Youth-Inc.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/Photo-with-bilingual-PCIT-team-at-Delaware-Guidance-Services-for-Children-and-Youth-Inc.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1835.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1835.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1835.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1835.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1835.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1822.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1822.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1822.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1822.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1822.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1815.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1815.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1815.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1815.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1815.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1812.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1812.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1812.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1812.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1812.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/Arsht_Cannon-142.jpg` for `Teamwork` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/Arsht_Cannon-142.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/Arsht_Cannon-142.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/Arsht_Cannon-142.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/Arsht_Cannon-142.jpg`</div>
<div class="progress-msg"><b>CREATED</b> `Teamwork` `Gallery` (ID: 342)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Youth Programs`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Youth Programs`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Youth Programs`...</div>
<div class="progress-msg"><b>CREATING</b> `Youth Programs` `Gallery`</div>
<div class="progress-msg">Associate post `Youth Programs` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1898.jpg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1898.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1898.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1898.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1898.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1393.jpg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1393.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1393.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1393.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1393.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1392.jpg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1392.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1392.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1392.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1392.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1391.jpg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1391.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1391.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1391.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1391.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1388.jpg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1388.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1388.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1388.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1388.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1387.jpg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1387.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1387.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1387.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1387.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1386.jpg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1386.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1386.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1386.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1386.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1304.jpg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1304.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1304.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1304.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1304.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/pouring-and-measuring.jpeg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/pouring-and-measuring.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/pouring-and-measuring.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/pouring-and-measuring.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/pouring-and-measuring.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/kids-and-teacher-at-blender.jpeg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/kids-and-teacher-at-blender.jpeg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/kids-and-teacher-at-blender.jpeg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/kids-and-teacher-at-blender.jpeg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/kids-and-teacher-at-blender.jpeg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_5151.jpg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_5151.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_5151.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_5151.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_5151.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_5150.jpg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_5150.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_5150.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_5150.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_5150.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/girl-with-i-pad.jpg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/girl-with-i-pad.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/girl-with-i-pad.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/girl-with-i-pad.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/girl-with-i-pad.jpg`</div>
<div class="progress-msg">- Importing image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1135-1.jpg` for `Youth Programs` ...</div>
<div class="progress-msg">- Downloading image from `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1135-1.jpg`</div>
<div class="progress-msg">- Image `http://arshtcannonfund.org/wp-content/uploads/2014/11/IMG_1135-1.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1135-1.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://arshtcannonfund.local/wp-content/uploads/2018/02/IMG_1135-1.jpg`</div>
<div class="progress-msg"><b>CREATED</b> `Youth Programs` `Gallery` (ID: 363)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
