
/*	ELEMENTS STYLE
----------------------------------------------------------------------------------------------------*/

@import "_variables.less";
@import "_fonts.less";
@import "_container.less";
@import "_mixins.less";
@import "_general.less";
@import "_header.less";
@import "_footer.less";

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 

}