#footer {
	background-color: @red;
	padding: 114px 0;
	text-align: center;
	.clearfix();
	.logo {
		img {
			max-height: 120px;
			margin-bottom: 30px;
		}
	}
	.footer-menu {
		ul {
			padding: 15px 0;
			li {
				display: block;
				width: 100%;
				a {
					padding: 10px 15px;
					font-size: 16px;
					letter-spacing: 2px;
					line-height: 32px;
					.menu-link();
					color: @white;
				}
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	#footer {
		.logo {
			float: left;
			width: 240px;
			text-align: right;
			background-color: @white;
			img {
				margin-bottom: 0;
			}
		}  
		.footer-menu {
			padding-right: 80px;
			float: right;
			ul {
				height: 64px;
				li {
					display: inline-block;
					vertical-align: middle;
					width: auto;
				}
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 

}