body {
	font-family: @font-family-base;
  .body();
}

a {
  outline: 0;
  color: @link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @link-color;
    text-decoration: none;
  }
}
.h1, .h2, .h3, h1, h2, h3 {
  margin: 0;
}
main {
  padding-top: 140px;
  padding-bottom: 40px;
}

.gallery-card {
  width: 100%;
  position: relative;
  img,
  .gallery-thumbnail {
    width: 100%;
    height: auto;
  }
  .gallery-title {
    .gallery-link();
    .upper;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
}

.news-card {
  .news-title {
    .subhead2();
    text-transform: none;
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
    @media (min-width: @screen-sm-min) {
       height: 96px;
    }
  }
  .news-body {
    .body();
    margin-bottom: 20px;
  }
  .news-footer {
    text-align: center;
    .news-date-author {
      text-align: left;
      margin-bottom: 20px;
      .caption();
      .upper();
      .news-date,
      .news-author {
        padding: 2px 10px;
      }
      .news-date {
        padding-left: 0;
        border-right: 1px solid @red;
      }
    }
  }
  @media (min-width: 1366px) {  
    .news-title {
      padding-right: 100px;
    }
  }
}

.news-date-author {
  text-align: left;
  margin-bottom: 20px;
  .caption();
  .upper();
  .news-date,
  .news-author {
    padding: 2px 10px;
  }
  .news-date {
    padding-left: 0;
    border-right: 1px solid @red;
  }
}

.form-container {
  form, 
  .form {
    .form-group {
      margin-bottom: 25px;
    }
    .half-left, 
    .half-right {
      width: 50%;
      float: left;
    }
    .half-right {
      padding-left: 15px;
    }
    label {
      .label();
      .upper();
      padding-left: 0;
      margin-bottom: 0;
    }
    input, select, textarea {
      border: none;
      border-bottom: 1px solid @gray;
      box-shadow: none;
      width: 100%;
      max-width: 100%;
      padding-left: 0;
      color: @black;
      border-radius: 0;
      &:placeholder {
        .gray();
      }

    }
    textarea {
      height: 115px;
      resize: none;
    }

    .submit-container {
      padding-top: 40px;
    }
    .submit-form,
    .wpcf7-submit {
      .button-primary();
      .arrowed();
      &:after {
        .fa-icon();
        content: @fa-var-chevron-right;
        position: absolute;
        right: 10px;

      }
    }
  }
}
.bx-wrapper {
  position: relative;
}
    .bx-controls-direction {
      .bx-prev {
        position: absolute;
        left: 0;
        top: 50%;
        text-indent: -9999px;
        display: block;
        width: 32px;
        height: 32px;
        background-image: url('../images/prev.png');
        background-size: 32px 32px;
      }
      .bx-next {
        position: absolute;
        right: 20px;
        top: 50%;
        text-indent: -9999px;
        display: block;
        width: 32px;
        height: 32px;
        background-image: url('../images/next.png');
        background-size: 32px 32px;
      }
    }
    .submit-container {
      position: relative;
      width: 200px;
      .arrowed();
      border: none;
      input {
        width: 200px;
      }
      &:after {
        .fa-icon();
        content: @fa-var-chevron-right;
        position: absolute;
        right: 40px;
        color: @red;
        margin-top: -4px;
      }
    }

main {
  ul {
    padding-left: 0;
    list-style: none;
    > li {
      position: relative;
      padding: 5px 0 5px 30px;
      &:before {
        position: absolute;
        left: 0;
        width: 10px;
        content: ' ';
        .bg-red();
        height: 10px;
        top:15px;
      }
      li {
        &:before {
          border-radius: 50%;
          border: 2px solid @red;
          .bg-white;
        }
      }
    }
  }
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 1px solid @gray;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px !important;
}
input::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px !important;
}
input:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px !important;
}
input:-moz-placeholder { /* Firefox 18- */
  font-size: 16px !important;
}
input:placeholder {
  font-size: 16px !important;
}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px !important;
}
textarea::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px !important;
}
textarea:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px !important;
}
textarea:-moz-placeholder { /* Firefox 18- */
  font-size: 16px !important;
}
textarea:placeholder {
  font-size: 16px !important;
}
select::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px !important;
}
select::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px !important;
}
select:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px !important;
}
select:-moz-placeholder { /* Firefox 18- */
  font-size: 16px !important;
}
select:placeholder {
  font-size: 16px !important;
}


.gallery-card {
    filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    &:hover {
      filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -webkit-transition: 500ms;
      -moz-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
  main {
    padding-top: 140px;
    padding-bottom: 80px;
  }

  .gallery-card {
    width: 33.33%;
    position: relative;
    float: left;
    .gallery-thumbnail {
      width: 100%;
      height: auto;
    }
    .gallery-title {
      .gallery-link();
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }