#header {
	width: 100%;
	z-index: 1000;
	position: fixed;
	transition: background-color 0.3s ease;
	&.affix {
		.shadowed;
	}
	.logo {
		float: left;
		img {
			max-height: 64px;
		}
	}
	.main-menu {
		float: right;
		padding-right: 10px;
		position: fixed;
		width: 100%;
		background-color: @red;
		height: 100vh;
		left: 100%;
		transition: left 0.5s ease;
		ul {
			padding: 100px 0;
			li {
				display: block;
				vertical-align: middle;
				width: 100%;
				text-align: center;
				margin-bottom: 20px;
				a {
					.subhead1();
					line-height: 56px;
					.upper();
				}
			}
		}
		&.active {
			height: 100vh;
			left: 0;
			transition: left 0.5s ease;
		}
	}

    .menu-btn {
        position: fixed;
        top: 30px;
        right: 8px;
        height: 56px;
        width: 56px;
        transform: translateY(-50%);
        border-radius: 100px;
        transition: background .4s ease;
        cursor: pointer;
        z-index: 10;
        div {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 16px;
            width: 24px;
            margin: 0;
            padding: 0;
            transform: translate(-50%, -50%);
            list-style: none;
            span {
                height: 2px;
                width: 24px;
                position: relative;
                transform: translateY(8px);
                display: block;
		        background: @white;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 6px;
                    width: 100%;
                    height: 100%;
                    background: @white;
                    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 6px;
                    width: 100%;
                    height: 100%;
                    background: @white;
                    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }
            }
        }
        &.active {
            div {
                span {
                    background: transparent !important;
                    &:before {
                        bottom: 0;
                        transform: rotate(-45deg);
                        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                    }
                    &:after {
                        top: 0;
                        transform: rotate(45deg);
                        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                    }
                }
            }
        }
    }

	&.white-in-none {
		background-color: transparent;
		.main-menu {
			ul {
				li {
					a {
						color: @white;
					}
				}
			}
		}
		&.affix {
			background-color: fade(@black, 70) !important;
			transition: background-color 0.5s ease;
		}
	}
	&.white-in-red {
		.bg-red();

		.main-menu {
			ul {
				li {
					a {
						.white();
					}
				}
			}
		}
	}
	&.black-in-white {
		.bg-white();
		.menu-btn {
	        div {
	            span {
			        background: @black;
	                &:before {
	                    background: @black;
	                }
	                &:after {
	                    background: @black;
	                }
	            }
            }
            &.active {
		        div {
		            span {
				        background: @white;
		                &:before {
		                    background: @white;
		                }
		                &:after {
		                    background: @white;
		                }
		            }
	            }
            }
		}
		.main-menu {
			ul {
				li {
					a {
						.white();
					}
				}
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	#header {
		height: 64px;
		.logo {
			width: 240px;
			text-align: right;
			background-color: @red;
		}
		.main-menu {
			ul {
				li {
					a {
						padding: 0 15px;
						font-size: 16px;
						letter-spacing: 2px;
						line-height: 32px;
						.menu-link();
					}
				}
			}
		}
		&.white-in-none {
			background-color: transparent;
			.main-menu {
				ul {
					li {
						a {
							color: @white;
						}
					}
				}
			}
			&.affix {
				background-color: fade(@black, 70) !important;
				transition: background-color 0.5s ease;
			}
		}
		&.white-in-red {
			.bg-red();

			.main-menu {
				ul {
					li {
						a {
							.white();
						}
					}
				}
			}
		}
		&.black-in-white {
			.bg-white();
			.main-menu {
				ul {
					li {
						a {
							.black();
						}
					}
				}
			}
		}

		.main-menu {
			float: right;
			position: relative;
			width: auto;
			padding: 15px 40px 15px 0;
			height: 64px;
			text-align: right;
			background: transparent;
			left: 0;
			ul {
				padding: 0;
				li {
					display: inline-block;
					vertical-align: middle;
					width: auto;
					a {
						font-size: 14px;
						padding: 0 12px;
					}
				}
			}
		}
		.menu-btn {
			display: none;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
	#header {
		.main-menu {
			padding-right: 60px;
			ul {
				li {
					a {
						font-size: 16px;
						padding: 0 15px;
					}
				}
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 

}