.shadowed() {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.upper() {
	text-transform: uppercase;
}


/* CONTAINER */

.w-container(@columns, @offset) {
	.make-sm-column(@columns);
	.make-sm-column-offset(@offset);
}

/* TEXT STYLES */
.body() {
	font-size: 16px;
	color: #000000;
	letter-spacing: 1px;
	line-height: 32px;
	font-weight: 400;
}
.caption() {
	font-weight: 700;
	font-size: 11px;
	color: rgba(0,0,0,0.65);
	letter-spacing: 1.5px;
	line-height: 16px;
}
.body2() {
	font-weight: 700;
	font-size: 16px;
	color: #000000;
	letter-spacing: 1px;
	line-height: 32px;
}
.subhead1() {
	font-weight: 700;
	font-size: 20px;
	color: #000000;
	letter-spacing: 2px;
	line-height: 26px;
	@media (min-width: @screen-sm-min) {
		font-size: 22px;
		line-height: 32px;
	}
}
.header3() {
	font-size: 24px;
	color: #000000;
	letter-spacing: 2px;
	line-height: 30px;
	@media (min-width: @screen-sm-min) {
		font-size: 31px;
		line-height: 40px;
	}
}
.header2() {
	font-size: 36px;
	color: #000000;
	letter-spacing: 4px;
	line-height: 40px;
	@media (min-width: @screen-sm-min) {
		font-size: 45px;
		line-height: 48px;
	}
}
.header1() {
	font-weight: 700;
	font-size: 63px;
	color: #000000;
	letter-spacing: 6px;
	line-height: 64px;
}
.subhead2() {
	font-size: 18px;
	color: #000000;
	letter-spacing: 2px;
	line-height: 26px;
	.upper();
	@media (min-width: @screen-sm-min) {
		font-size: 22px;
		line-height: 32px;
	}
}
.button() {
	font-weight: 700;
	font-size: 16px;
	color: @red;
	letter-spacing: 2px;
	line-height: 32px;
	padding: 10px 25px;
	min-width: 192px;
	display: inline-block;
	.upper();
}

.underline-caption() {
	.caption();
	.upper();
	margin-bottom: 20px;
	position: relative;
	&:after {
		content: ' ';
		height: 1px;
		left: 0;
		bottom: -6px;
		width: 42px;
		position: absolute;
	}
}
.underline-red() {
	&:after {
		color: @red;
	}
}

/* LINKS */
.menu-link () {
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 32px;
	display: inline-block;
	.black();
	.upper();
}
.gallery-link() {
	font-weight: 700;
	font-size: 16px;
	color: @white;
	letter-spacing: 2px;
	line-height: 32px;
	display: inline-block;
}

.red() {
	color: @red;
}
.white() {
	color: @white;
}
.black() {
	color: @black;
}
.gray() {
	color: @gray;
}
.bg-red() {
	background-color: @red;
}
.bg-white() {
	background-color: @white;
}
.bg-black() {
	background-color: @black;
}
.bg-gray() {
	background-color: @gray;
}

.fa-icon() {
  display: inline-block;
  font: normal normal normal @fa-font-size-base/@fa-line-height-base FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* BUTTONS STYLES */

.button-primary() {
	.button();
	color: #D22027;
	border: 2px solid #D22027;
	span {
		display: inline-block;
		margin-right: 10px;
	}
	i.fa {
		font-size: 14px;
	}
}

.button-secondary() {
	.button();
	border-bottom: 2px solid #D22027;
}
.button-white() {
	border-color: @white;
	color: @white;
}

.arrowed() {
	position: relative;
	&:after {
		.fa-icon();
		content: @fa-var-chevron-right;
		position: absolute;
		right: 10px;
		top: 50%;
		font-size: 20px;
		margin-top: -10px;
	}
}

/* FORMS */

.placeholder() {
	::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder {
		font-size: 16px;
		color: rgba(0,0,0,0.65);
		letter-spacing: 1px;
		line-height: 32px;
    }
}

.label() {
	font-size: 11px;
	color: #000000;
	letter-spacing: 1.5px;
	line-height: 16px;
}

.textarea() {
	border: none;
	border-bottom: 2px solid rgba(0,0,0,0.65);
}
.textarea() {
	border: none;
	border-bottom: 2px solid rgba(0,0,0,0.65);
}
