
/*	VARIABLES
----------------------------------------------------------------------------------------------------*/

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

// Font
@font-family-sans-serif: "sans-serif";
@font-family-base:      "proxima-nova", @font-family-sans-serif;

//	Colors

@white:					        #FFFFFF;
@black:                 #000000;
@red:                   #D22027;
@dark-red:					    #D22027;
@gray:                  rgba(0,0,0,0.65);;
@gray-sub:              #7b7b7b;
@gray-dark:             #3c3c3c;
@light-dark:            #3d3d3d;

@background:            #e4dcd5;
@primary: 				#f4c400;

@input-color-placeholder: @gray;

// Scaffolding

@text-color: @black;

// Links

@link-color:       @black;
@link-hover-color: darken(@link-color, 15%);

// Components

@border-radius-base: 		0;
@border-radius-large:       0;

@input-border-focus: 		transparent;

@input-bg:                  transparent;
@input-border:              transparent;

@btn-font-weight:           bold;

// Font
@font-size-small:           14px;
@font-size-regular:         17px;
@font-size-menu:            24px;
@font-size-big:             26px;
@font-size-input:           16px;

@font-size-small:           2.15vh;
@font-size-regular:         2.6vh;
@font-size-big:             3.5vh;
@font-size-menu:            3vh;
@font-size-input:           2.8vh;
@font-size-biggest:         4.5vh;

//Container sizes
@container-xlarge-1300:   (1270px + @grid-gutter-width);
@container-xlarge-1400:   (1370px + @grid-gutter-width);
@container-xlarge-1500:   (1470px + @grid-gutter-width);
@container-xlarge-1600:   (1570px + @grid-gutter-width);

@media (min-width: 1300px) {
  .container{
    width: @container-xlarge-1300;
  }
}

@media (min-width: 1400px) {
  .container{
    width: @container-xlarge-1400;
  }
}

@media (min-width: 1500px) {
  .container{
    width: @container-xlarge-1500;
  }
}

@media (min-width: 1600px) {
  .container{
    width: @container-xlarge-1600;
  }
}

