.about-page {
	padding-top: 64px;
	.about-hero {
		// min-height: 100vh;
		padding-top: 80px;
		.bg-red();
		position: relative;
		margin-bottom: 200px;
		.about-hero-heading {
			.header2();
			.white();
			margin-bottom: 30px;
		}
		.about-hero-desc {
			.body2();
			.white;
			p {
				margin-bottom: 20px;
			}
		}
		.about-hero-image {
			right: 0;
			margin-left: 10px;
			margin-bottom: -150px;
			width: ~'calc(100% - 20px)';
			border-right: 5px solid @white;
		}
	}
	.about-info-blocks {
		.about-info-block {
			.clearfix();
			margin-bottom: 40px;
			padding-top: 40px;
    		padding-bottom: 40px;
    		padding-right: 0;
			.about-info-block-title {
				.header3();
				position: relative;
				margin-bottom: 20px;
				&:before {
					width: 175px;
					position: absolute;
					content: ' ';
					left: 0;
					top: -40px;
					height: 4px;
					display: block;
					.bg-red();
				}
			}
			.about-info-block-desc {
				.body2();
				.clearfix();
				margin-bottom: 10px;
				&.half-left,
				&.half-right {
					.body();
				}
			}
		}
	}
	.about-timeline {
		margin-bottom: 50px;
		position: relative;
		.container {
			position: relative;
			padding: 0 55px;
		}
		.about-timeline-item {
			list-style: none;
			text-align: center;
			display: inline-block;  
			padding: 0 30px;
			&:before {
	          border-radius: 50%;
	          border: 2px solid @red;
	          .bg-white;
	          content: none;
	        }			
			.about-timeline-item-month {
				.body2();
				.upper;
				margin-bottom: 10px;
			}
			.about-timeline-item-year {
				.header2();
				.red();
				margin-bottom: 10px;
			}
			.about-timeline-item-desc {
				position: relative;
				padding: 0 0 30px;
				min-height: 200px;
				&:after {
					width: 235px;
					position: absolute;
					content: ' ';
					left: 50%;
					margin-left: -117px;
					bottom: 0px;
					height: 8px;
					display: block;
					.bg-red();
				}
			}
		}
		.bx-controls-direction {
			.bx-prev {
				position: absolute;
				left: -50px;
				top: 50%;
				text-indent: -9999px;
				display: block;
			}
			.bx-next {
				position: absolute;
				right: -50px;
				top: 50%;
				text-indent: -9999px;
				display: block;
			}
		}
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
	.about-page {
		.about-hero {
			margin-bottom: 150px;
			.about-hero-heading {
				.make-sm-column(7);
				.make-sm-column-offset(1);
				margin-bottom: 30px;
			}
			.about-hero-desc {
				.body2();
				.white;
				.make-sm-column(7);
				.make-sm-column-offset(1);
				margin-bottom: 100px;
				p {
					margin-bottom: 20px;
				}
			}
			.about-hero-image {
				position: absolute;
				width: 30%;
				max-width: 536px;
				right: 0;
				top: 0;
				padding-top: 80px;
				top: 100px;
				border-right: none;
				margin-bottom: 0;
			}
		}
		.about-info-blocks {
			.about-info-block {
	    		.make-sm-column-offset(1);
	    		.make-sm-column(7);
				&:nth-child(odd) {
					.make-sm-column-offset(2);
					.make-sm-column(8);
				}
				.about-info-block-desc {
					&.half-left,
					&.half-right {
						width: 50%;
						float: left;
					}
					&.half-left {
						padding-right: 15px;
					}
					&.half-right {
						padding-left: 15px;
					}
				}
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1366px) { 

	.about-page {
		.about-hero {
			margin-bottom: 150px;
			.about-hero-heading {
				.make-sm-column(7);
				.make-sm-column-offset(1);
				margin-bottom: 30px;
			}
			.about-hero-desc {
				.body2();
				.white;
				.make-sm-column(8);
				.make-sm-column-offset(1);
				margin-bottom: 200px;
				p {
					margin-bottom: 20px;
				}
			}
			.about-hero-image {
				position: absolute;
				width: 20%;
				max-width: 536px;
				right: 0;
				bottom: -100px;
				border-right: none;
				margin-bottom: 0;
			}
		}
		.about-info-blocks {
			.about-info-block {
	    		.make-sm-column-offset(1);
	    		.make-sm-column(7);
				&:nth-child(odd) {
					.make-sm-column-offset(2);
					.make-sm-column(8);
				}
				.about-info-block-desc {
					&.half-left,
					&.half-right {
						width: 50%;
						float: left;
					}
					&.half-left {
						padding-right: 15px;
					}
					&.half-right {
						padding-left: 15px;
					}
				}
			}
		}
	}

 }