.contact-page {
	padding-top: 140px;
	.page-title {
		.header3();
		margin-bottom: 40px;
	}
	.contact-info {
		margin-bottom: 50px;
		.contact-image { 
			margin-bottom: 20px;
			img {
				max-width: 180px;
				width: 100%;
			}
		}
		.contact-name { 
			.body2();
		}
		.contact-email { 
			.red();
			margin-bottom: 20px;
			display: inline-block;
		}
		.contact-position { 
			.body2();
		}
		.contact-desc { 
			margin-bottom: 20px;
		}
		.contact-address { 
			margin-bottom: 20px;
			display: block;
		}
		.contact-bio-cta { 
			border: none;
			.button-secondary();
		}
	}
	.submit-container {
		width: 200px;
		.wpcf7-submit {
			width: 200px;
		}
	}

}

.modal {
	.modal-content {
		padding: 30px 50px 60px 60px;
		.modal-header {
			border: none;
			margin-bottom: 40px;
			padding: 0;
		}
		.modal-body {
			max-height: 400px;
			overflow: auto;
			padding: 0 20px 0 0;
		}
	}
	.full-name {
		.subhead2();
		position: relative;
		margin-bottom: 20px;
		text-transform: none;
		&:after {
			content: ' ';
			background: @red;
			width: 102px;
			height: 4px;
			bottom: -30px;
			left: 0;
			position: absolute;
		}
	}
	.close {
		opacity: 1;
		position: absolute;
    	top: 30px;
    	right: 30px;
		span {
			font-size: 40px;
			.red();
			font-weight: 100;
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
	.contact-page {
		.page-title {
			.make-sm-column-offset(1);
			.make-sm-column(11);
		}
		.contact-info {
			.make-sm-column-offset(1);
			.make-sm-column(4);
		}
		.contact-form {
			.make-sm-column-offset(1);
			.make-sm-column(5);
		}
	}
	.modal {
		.modal-content {
			padding: 40px 60px 60px 80px;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
	.contact-page {
		.page-title {
			.make-sm-column-offset(2);
			.make-sm-column(10);
		}
		.contact-info {
			.make-sm-column-offset(2);
			.make-sm-column(3);
		}
		.contact-form {
			.make-sm-column-offset(1);
			.make-sm-column(4);
		}
	}
	.modal {
		.modal-content {
			padding: 40px 80px 60px 90px;
		}
	}
}