.galleries-page {
	padding-top: 140px;
  .page-title {
    .header2();
      margin-bottom: 40px;
  }
	&.single-gallery {
    background: fade(@black, 85);
    padding-top: 80px;
      .container{
        padding: 0 55px;
      }

		.page-title {
			margin-bottom: 30px;
			.subhead2();
			text-align: center;
			.white;
			text-transform: none;
		}
	}
	ul {
		li {
			list-style: none;
  			padding: 0;
  			&:before {
  				content: none;
  			}
		}
	}

  .bx-controls-direction {
    .bx-prev {
      &:after {
        .white();
      }
    }
    .bx-next {
      &:after {
        .white();
      }
    }
  }

}

#single-gallery {
	max-height: 80vh;
	li {
      max-height: 200px;
		img {
          width: 100%;
          height: auto;
          margin: 0 auto;
          display: block;
		}
	}
}
.btn-fullscreen {
	position: absolute;
  z-index: 10;
	top: 90px;
	right: 30px;
	color: fade(@white, 80);
	font-size: 20px;
	&:hover,
	&:active,
	&:focus {
		.white;
	}
}

#single-gallery-pager {
	padding:  10px;
	position: relative;
}

#single-gallery {
  list-style: none;
  padding: 0;
  padding: 0;
}
#single-gallery img {
 width: 100%;
 height: auto;
}
#single-gallery-pager img {
  width: 100%;
  height: auto;
}

.gallery-pagers {
	position: relative;
	padding: 40px 80px;

  img{
    max-width: 100px;
  }

  .bx-viewport {    
	  .bx-controls-direction {
      .bx-prev {
        position: absolute;
        left: -10px;
        top: 50%;
        text-indent: -9999px;
        display: block;
        width: 10px;
        filter: brightness(100);
        &:after {
          .fa-icon();
          content: @fa-var-long-arrow-left;
          .white();
          text-indent: 0;
          display: block;
          font-size: 24px;
        }
      }
      .bx-next {
        position: absolute;
        right: 0px;
        top: 50%;
        text-indent: -9999px;
        display: block;
        width: 10px;
        filter: brightness(100);
        &:after {
          .fa-icon();
          content: @fa-var-long-arrow-right;
          .white();
          text-indent: 0;
          display: block;
          font-size: 24px;
        }
      }
    }
  }
}

.galleries-page {
      .bx-prev {
        filter: brightness(100);
        left: -55px;
      }
      .bx-next {
        filter: brightness(100);
        right: -55px;
      }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
  .page-title {
    .make-sm-column-offset(1);
    .make-sm-column(10);
  }
  .galleries-container {
    .make-sm-column-offset(1);
    .make-sm-column(10);
  }

  #single-gallery {
    li {
      max-height: 400px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  #single-gallery {
    li {
      max-height: 600px;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1366px) { 
}

