.grants-page {
	.clearfix();
	.grants-heading {
		.header3();
		margin-bottom: 10px;
	}
	.grants-qualifications {
		padding: 30px 10px;
		h2 {
			.subhead2();
			text-transform: none;
			margin-bottom: 20px;
		}
		.panel {
			border-bottom: 1px solid @red;
			margin-top: 0;
			.panel-heading {
				padding: 0;
				a {
					display: block;
					position: relative;
					background: rgba(0,0,0,0.05);
					transition: background-color 0.5s ease;
					padding: 10px 15px;
					&:after {
						content: ' _ ';
						position: absolute;
						right: 10px;
						top: 3px;
						.red();
						font-size: 20px;
					}
					&.collapsed {
						background: transparent;
						transition: background-color 0.5s ease;
						&:after {
							content: ' + ';
							top: 11px;
							font-size: 24px;
						}
					}
				}
			}
			.panel-body {
				padding: 30px 20px;
				ul {
					padding-left: 0;
					list-style: none;
					li {
						position: relative;
						padding: 5px 0 5px 30px;
						&:before {
							position: absolute;
							left: 0;
							width: 10px;
							content: ' ';
							.bg-red();
							height: 10px;
							top: 15px;
						}
					}
				}
			}
		}
	}
	.grants-form {
		padding: 30px 10px;
		.form-title {
			.subhead2();
			text-transform: none;
		}
		.form-caption {
			.caption();
			margin-bottom: 20px;
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	.grants-heading {
		.make-sm-column(11);
		.make-sm-column-offset(1);
	}
	.grants-qualifications {
		.make-sm-column(5);
		.make-sm-column-offset(1);
	}
	.grants-form {
		.make-sm-column(4);
		.make-sm-column-offset(1);
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 

}