.home-page {
	padding-top: 0;
	padding-bottom: 0;
	.home-hero {
		height: 100vh;
		background-size: cover;
		.white();
		.hero-content {
			height: 100%;

			.hero-content-info {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
			.hero-title {
				font-size: 40px;
				letter-spacing: 4px;
				line-height: 48px;
				position: relative;
				margin-bottom: 50px;
				&:after {
					content: ' ';
					background: @red;
					width: 176px;
					height: 4px;
					bottom: -20px;
					left: -20px;
					position: absolute;
				}
			}
			.hero-desc {
				.subhead1();
				.white();
				margin-bottom: 30px;
			}
			.hero-csta {
				display: block;
				width: 100%;
				text-align: center;
				.hero-cta {
					.button-secondary();
					.button-white();
					margin-right: 30px;
					min-width: 60px;
					font-size: 12px;
					&:last-child {
						margin-right: 0;
						.button-primary();
						.button-white();
					}
				}
			}
		}
	}
	.section-title {
		.header2();
		margin-bottom: 40px;
		text-align: center;
	}
	.home-programs {
		text-align: center;
		padding: 40px 0;
		.program {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			margin-bottom: 40px;
			.program-icon, img {
				max-width: 128px;
				max-height: 128px;
				margin-bottom: 20px;
			}
			.program-title {
				.subhead2();
				margin-bottom: 10px;
			}
			.program-desc {
				margin-bottom: 20px;
			}
			.program-url {
				.button-secondary();
			}
		}
	}
	.home-galleries {
		text-align: center;
		padding: 40px 0 60px;
		.view-galleries {
			margin-top: 55px;
			.button-primary();
		}
	}
	.home-news {
		.container {
			width: 100%;
			padding: 0;
		}
		.featured-news {
			.shadowed();
			background-color: @white;
			padding: 40px 30px;
			.featured-caption {
				.caption();
				.upper();
				font-weight: 300;
				margin-bottom: 20px;
				position: relative;
				color: @red;
				&:after {
					height: 1px;
					left: 0;
					bottom: -6px;
					content: ' ';
					width: 42px;
					position: absolute;
					.bg-red();
				}
			}
			.news-card {
				.news-title {
					height:  auto;
				}
			}
			.read-full-news {
				.button();
				text-align: center;
				display: inline-block;
				margin: 0 auto;
			}
		}
		.news-feed {
			background: rgba(0,0,0,0.50);
			padding: 60px 20px 80px 20px;
			color: @white;
			position: relative;
			float: right;
			.news {
				padding:  0 0 30px 0;
				margin-bottom: 30px;
				border-bottom: 2px solid @white;
			}
			.read-more-news {
				.button-primary();
				.button-white();
				text-align: center;
			}
			.latest-caption {
				.caption();
				.upper();
				margin-bottom: 40px;
				position: relative;
				color: fade(@white, 50);
				font-weight: 300;
				&:after {
					content: ' ';
					background:  fade(@white, 50);
					height: 1px;
					left: 0;
					bottom: -6px;
					width: 42px;
					position: absolute;
				}

			}
			.news {
				.news-title {
					.body2();
					.white();
					margin-bottom: 10px;
				}
				.news-footer {
					.caption();
					.upper();
					.news-date,
					.news-author {
						padding: 2px 10px;
						color: fade(@white, 50);
					}
					.news-date {
						padding-left: 0;
						border-right: 1px solid @white;
					}
				}
			}
		}
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {  
	.home-page {
		.home-hero {
			.hero-content {
				margin-top: 40px;
				//padding: 0 15px;
				.hero-title {
					font-size: 96px;
					letter-spacing: 8px;
					line-height: 104px;
					margin-bottom: 80px;
					padding-left: 16%;
 					&:after {
 						content: ' ';
 						background: @red;
						width: 409px;
						height: 8px;
						bottom: -30px;
						left: 16%;
 					}
				}
				.hero-desc {
					width: 75%;
					max-width: 1440px;
					padding-left: 16%;
					.white();
				}				
				.hero-csta {
					.hero-cta {
						.button();
						.white();
						width: 200px;
					}
				}
			}
		}
		.home-programs {
			padding: 104px 0 52px;
			.container{
				max-width: 1140px;
			}
			.program {
				width: 33%;
				padding: 0 15px;
			}
		}
		.home-galleries {
			padding: 52px 0;
			.view-galleries {
				width: 300px;
			}
		}
		.home-news {
			position: relative;
			padding: 52px 0;
			.section-title {
				margin-bottom: 204px;
			}
			.featured-news {
				.shadowed();
				width: 42%;
				position: absolute;
				margin-top: -180px;
				margin-left: 120px;
				padding: 65px 65px 50px;
				max-width: 580px;
				z-index: 9;
			}
			.news-feed {
				padding-left: 20%;
				padding-right: 8%;
				padding-top: 112px;
				width: 60%;
				&:before {
					content: " ";
					position: absolute;
					left: -65%;
					top: 150px;
					height: 300px;
					width: 300px;
					background: rgba(210,32,39,0.65);
					box-shadow: 0 3px 6px 0 rgba(0,0,0,0.23), 0 3px 6px 0 rgba(0,0,0,0.16);
				}
				.read-more-news {
					width: 300px;
				}
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
.home-page {
		.home-hero {
			.hero-content {
				.hero-title {
					font-size: 96px;
					letter-spacing: 8px;
					line-height: 104px;
					margin-bottom: 80px;
					padding-left: 16%;
 					&:after {
 						content: ' ';
 						background: @red;
						width: 409px;
						height: 8px;
						bottom: -30px;
						left: 16%;
 					}
				}
				.hero-desc {
					width: 75%;
					max-width: 1440px;
					padding-left: 16%;
				}				
				.hero-csta {
					.hero-cta {
						width: 300px;
					}
				}
			}
		}
		.home-programs {
			padding: 104px 0 52px;
			.program {
				width: 33%;
				padding: 0 35px;
				margin-bottom: 40px;
			}
		}
		.home-galleries {
			padding: 52px 0;
		}
		.home-news {
			position: relative;
			padding: 52px 0 0;
			.section-title {
				margin-bottom: 204px;
			}
			.featured-news {
				.shadowed();
				width: 42%;
				position: absolute;
				margin-top: -180px;
				margin-left: 120px;
				padding: 65px 65px 50px;
				max-width: 580px;
				z-index: 9;
			}
			.news-feed {
				padding-left: 20%;
				padding-right: 8%;
				width: 60%;
				&:before {
					content: " ";
					position: absolute;
					left: -65%;
					top: 260px;
					height: 300px;
					width: 300px;
					background: rgba(210,32,39,0.65);
					box-shadow: 0 3px 6px 0 rgba(0,0,0,0.23), 0 3px 6px 0 rgba(0,0,0,0.16);
				}
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 

}