.news-page {
	.clearfix();
	.news-header {
		margin-bottom: 30px;
		.news-heading {
			margin-bottom: 15px;
		}
		.search-news {
			input[type="text"] {
				width: 100%;
				.shadowed();
				border: none;
				padding: 10px 35px 10px 15px;
				z-index: -1;
				float: left;
			}
			button, input[type="submit"] {
				float: right;
				margin-top: -40px;
				margin-right: 20px;
				z-index: 10;
				padding: 0;
				position: relative;
				background: none;
				border: none;
				&:after {
					.fa-icon();
					content: @fa-var-search;
					.red();
					text-indent: 0;
					display: block;
					font-size: 24px;
				}
			}
		}
	}
	.news-feed {
		.clearfix();
		.featured-caption,
		.latest-caption {
			.caption();
			.upper();
			font-weight: 300;
			margin-bottom: 20px;
			position: relative;
			color: @red;
			&:before {
				height: 1px;
				left: 15px;
				bottom: -6px;
				width: 42px;
				position: absolute;
				.bg-red();
				content: '';
			}
		}
		.latest-caption {
			.gray();
			margin-left: 0;
			&:before {
				.bg-gray(); 
			}
		}
		.news-card {
			padding-top: 10px;
			padding-bottom: 10px;
			footer {
				border-bottom: 1px solid @red;
				margin-bottom: 30px;
			}
		}
		.latest-news {
			padding: 0;
			margin-bottom: 30px;
			.news-card {
				margin-left: 0;
				.news-title {
					.body2();
					padding-right: 15px;
				}
			}
		}
		.load-more-news {
			.button-secondary();
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}
	&.news-single {
		.page-title {
			.header2();
			margin-bottom: 40px;
		}
		.news-header,
		.news-body,
		.news-footer {
			.clearfix();
			width: 100%;
		}
		.news-date-author {
			float: left;
			.news-author {
				.red();
			}
		}
		.share-news {
			margin-top: -10px;
			float: right;
			a {
				border: 2px solid @red;
				width: 32px;
				height: 32px;
				color: red;
				display: inline-block;
				vertical-align: middle;
				border-radius: 50%;
				text-align: center;
				font-size: 14px;
				padding-top: 7px;
				margin-right: 15px;
				&:last-child {
					margin-right: 0;
				}
				.fa {
					display: block;
				}
			}
		}
		.news-body {
			.body();
			margin-bottom: 30px;
			img {
				padding-top: 20px;
				display: block;
				max-width: 80%;
				margin: 0 auto 30px;
			}
		}
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	.news-page {
		.clearfix();
		.news-header {
			margin-bottom: 30px;
			.news-heading,
			.search-news {
				.make-sm-column-offset(1);
				.make-sm-column(9);
			}
		}
		.news-feed {
			.clearfix();
			.featured-caption,
			.latest-caption {
				.make-sm-column(9);
			}
			.featured-caption {
				.make-sm-column-offset(1);
			}
			.news-card {
				.make-sm-column-offset(1);
				.make-sm-column(5);
				.news-body {
					min-height: 160px;
				}
			}
			.featured-news {
				font-size: 0;
			}
			.latest-news {
				font-size: 0;
				.make-sm-column-offset(1);
				.make-sm-column(11);
				padding: 0;
				.news-card {
					.make-sm-column(6);
				}
			}
			.load-more-news {
				width: 300px;
			}
		}
		&.news-single {
			.news-header,
			.news-body,
			.news-footer {
				.make-sm-column-offset(2);
				.make-sm-column(8);
			}
			.news-header {
				.page-title {
					max-width: 800px;
				}
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	.news-page {
		.clearfix();
		.news-header {
			margin-bottom: 30px;
			.news-heading,
			.search-news {
				.make-sm-column-offset(1);
				.make-sm-column(9);
			}
		}
		.news-feed {
			.clearfix();
			.featured-caption,
			.latest-caption {
				.make-sm-column(9);
			}
			.news-card {
				.make-sm-column-offset(1);
				.make-sm-column(4);
			}
			.latest-news {
				.make-sm-column-offset(1);
				.make-sm-column(9);
				padding: 0;
				.news-card {
					.make-sm-column(4);
				}
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }