.program-page {
	.page-title,
	.program-subheading,
	.program-description {

	} 
	.program-description {
		margin-bottom: 60px;
	}
	.page-title {
		.header3();
	}
	.program-subheading {
		.body2();
		margin-bottom: 32px;
	}
	.program-partners {
		padding: 72px 0 40px;
		margin-bottom: -40px;
		background: fade(@black, 5);
		.program-partners-heading {
			.subhead2();
			text-transform: none;
			margin-bottom: 5px;
		}
		.program-partners-subheading {
			.body2();
			margin-bottom: 56px;
			position: relative;
			color: fade(@black, 65);
			&:after {
				content: ' ';
				background: @red;
				width: 84px;
				height: 4px;
				bottom: -12px;
				left: 0;
				position: absolute;
			}
		}
		.partners-list {
			padding: 0;
			.partner-card {
				margin-bottom: 20px;
				.partner-card-content {
					.bg-white();
					border-bottom: 4px solid fade(@black, 25);	
					padding: 30px 30px 20px;
				}
				.partner-name {
					.body2();		
					position: relative;		
					margin-bottom: 15px;
					padding-bottom: 15px;
					line-height: 24px;
					&:after {
						content: ' ';
						background: @red;
						width: 42px;
						height: 4px;
						bottom: 0px;
						left: 0;
						position: absolute;
					}
				}
				.partner-desc {
					margin-bottom: 24px;
				}
				.learn-more {
					.button-secondary();
					border-bottom: none;
					text-align: center;
					min-width: 1px;
					width: auto;
					display: block;
					margin: 0 auto;
					max-width: 180px;
				}
			}
		}
		li {
			&:before {
				content: none;
			}
		}
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
	.program-page {
		.program-info {
			.page-title,
			.program-subheading,
			.program-description {
				.w-container(8, 1);
			}
			.program-subheading {

			}
		}
		.program-partners {
			margin-bottom: -80px;
			.program-partners-heading,
			.program-partners-subheading {
				.w-container(11, 1);
				&:after {
					left: 15px;
				}
			}
			.partners-list {
				.w-container(11, 1);
				padding: 0;
				.partner-card {
					.w-container(4, 0);
					margin-bottom: 40px;
					.partner-name {
						height: 90px;
						overflow: hidden;
					}
					.partner-desc {
						height: 160px;
						overflow: hidden;
					}
				}
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }