<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing advanced custom fields...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `National Council of La Raza`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `National Council of La Raza`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `National Council of La Raza`...</div>
<div class="progress-msg"><b>CREATING</b> `National Council of La Raza` `Partner`</div>
<div class="progress-msg">Associate post `National Council of La Raza` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.nclr.org/`</div>
<div class="progress-msg"><b>CREATED</b> `National Council of La Raza` `Partner` (ID: 166)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Delaware Hispanic Commission`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Delaware Hispanic Commission`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Delaware Hispanic Commission`...</div>
<div class="progress-msg"><b>CREATING</b> `Delaware Hispanic Commission` `Partner`</div>
<div class="progress-msg">Associate post `Delaware Hispanic Commission` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://hispanic.delaware.gov/`</div>
<div class="progress-msg"><b>CREATED</b> `Delaware Hispanic Commission` `Partner` (ID: 167)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Latin American Community Center`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Latin American Community Center`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Latin American Community Center`...</div>
<div class="progress-msg"><b>CREATING</b> `Latin American Community Center` `Partner`</div>
<div class="progress-msg">Associate post `Latin American Community Center` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.thelatincenter.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Latin American Community Center` `Partner` (ID: 168)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `La Esperanza Community Center`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `La Esperanza Community Center`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `La Esperanza Community Center`...</div>
<div class="progress-msg"><b>CREATING</b> `La Esperanza Community Center` `Partner`</div>
<div class="progress-msg">Associate post `La Esperanza Community Center` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.laesperanza.org/`</div>
<div class="progress-msg"><b>CREATED</b> `La Esperanza Community Center` `Partner` (ID: 169)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Lutheran Church of Our Savior’s Family English as a Second Language Program`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Lutheran Church of Our Savior’s Family English as a Second Language Program`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Lutheran Church of Our Savior’s Family English as a Second Language Program`...</div>
<div class="progress-msg"><b>CREATING</b> `Lutheran Church of Our Savior’s Family English as a Second Language Program` `Partner`</div>
<div class="progress-msg">Associate post `Lutheran Church of Our Savior’s Family English as a Second Language Program` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://lcosrehoboth.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Lutheran Church of Our Savior’s Family English as a Second Language Program` `Partner` (ID: 170)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Sussex Tech Adult Education Division`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Sussex Tech Adult Education Division`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Sussex Tech Adult Education Division`...</div>
<div class="progress-msg"><b>CREATING</b> `Sussex Tech Adult Education Division` `Partner`</div>
<div class="progress-msg">Associate post `Sussex Tech Adult Education Division` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.sussexvt.k12.de.us/`</div>
<div class="progress-msg"><b>CREATED</b> `Sussex Tech Adult Education Division` `Partner` (ID: 171)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Polytech Adult Education Division`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Polytech Adult Education Division`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Polytech Adult Education Division`...</div>
<div class="progress-msg"><b>CREATING</b> `Polytech Adult Education Division` `Partner`</div>
<div class="progress-msg">Associate post `Polytech Adult Education Division` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://polytechworks.com/`</div>
<div class="progress-msg"><b>CREATED</b> `Polytech Adult Education Division` `Partner` (ID: 172)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `The Family Counseling Center of St. Paul’s (FCCSP)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `The Family Counseling Center of St. Paul’s (FCCSP)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `The Family Counseling Center of St. Paul’s (FCCSP)`...</div>
<div class="progress-msg"><b>CREATING</b> `The Family Counseling Center of St. Paul’s (FCCSP)` `Partner`</div>
<div class="progress-msg">Associate post `The Family Counseling Center of St. Paul’s (FCCSP)` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://stpaulscounseling.org/`</div>
<div class="progress-msg"><b>CREATED</b> `The Family Counseling Center of St. Paul’s (FCCSP)` `Partner` (ID: 173)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Delaware Guidance Services for Children & Youth, Inc.`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Delaware Guidance Services for Children & Youth, Inc.`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Delaware Guidance Services for Children & Youth, Inc.`...</div>
<div class="progress-msg"><b>CREATING</b> `Delaware Guidance Services for Children & Youth, Inc.` `Partner`</div>
<div class="progress-msg">Associate post `Delaware Guidance Services for Children & Youth, Inc.` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.delawareguidance.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Delaware Guidance Services for Children & Youth, Inc.` `Partner` (ID: 174)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Survivors Of Abuse in Recovery, Inc. (SOAR)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Survivors Of Abuse in Recovery, Inc. (SOAR)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Survivors Of Abuse in Recovery, Inc. (SOAR)`...</div>
<div class="progress-msg"><b>CREATING</b> `Survivors Of Abuse in Recovery, Inc. (SOAR)` `Partner`</div>
<div class="progress-msg">Associate post `Survivors Of Abuse in Recovery, Inc. (SOAR)` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.soarinc.com/`</div>
<div class="progress-msg"><b>CREATED</b> `Survivors Of Abuse in Recovery, Inc. (SOAR)` `Partner` (ID: 175)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Girls Inc. of Delaware`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Girls Inc. of Delaware`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Girls Inc. of Delaware`...</div>
<div class="progress-msg"><b>CREATING</b> `Girls Inc. of Delaware` `Partner`</div>
<div class="progress-msg">Associate post `Girls Inc. of Delaware` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.girlsincde.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Girls Inc. of Delaware` `Partner` (ID: 176)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #12</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Christiana Care Health System`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Christiana Care Health System`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Christiana Care Health System`...</div>
<div class="progress-msg"><b>CREATING</b> `Christiana Care Health System` `Partner`</div>
<div class="progress-msg">Associate post `Christiana Care Health System` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.christianacare.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Christiana Care Health System` `Partner` (ID: 177)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #13</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `National Alliance on Mental Illness, Delaware (NAMI DE)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `National Alliance on Mental Illness, Delaware (NAMI DE)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `National Alliance on Mental Illness, Delaware (NAMI DE)`...</div>
<div class="progress-msg"><b>CREATING</b> `National Alliance on Mental Illness, Delaware (NAMI DE)` `Partner`</div>
<div class="progress-msg">Associate post `National Alliance on Mental Illness, Delaware (NAMI DE)` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.namidelaware.org/`</div>
<div class="progress-msg"><b>CREATED</b> `National Alliance on Mental Illness, Delaware (NAMI DE)` `Partner` (ID: 178)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #14</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Teach for America – Delaware`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Teach for America – Delaware`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Teach for America – Delaware`...</div>
<div class="progress-msg"><b>CREATING</b> `Teach for America – Delaware` `Partner`</div>
<div class="progress-msg">Associate post `Teach for America – Delaware` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.teachforamerica.org/where-we-work/delaware`</div>
<div class="progress-msg"><b>CREATED</b> `Teach for America – Delaware` `Partner` (ID: 179)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #15</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Schwartz Center for the Arts`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Schwartz Center for the Arts`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Schwartz Center for the Arts`...</div>
<div class="progress-msg"><b>CREATING</b> `Schwartz Center for the Arts` `Partner`</div>
<div class="progress-msg">Associate post `Schwartz Center for the Arts` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.schwartzcenter.com/`</div>
<div class="progress-msg"><b>CREATED</b> `Schwartz Center for the Arts` `Partner` (ID: 180)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #16</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Parent Information Center of Delaware, Inc.`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Parent Information Center of Delaware, Inc.`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Parent Information Center of Delaware, Inc.`...</div>
<div class="progress-msg"><b>CREATING</b> `Parent Information Center of Delaware, Inc.` `Partner`</div>
<div class="progress-msg">Associate post `Parent Information Center of Delaware, Inc.` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.picofdel.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Parent Information Center of Delaware, Inc.` `Partner` (ID: 181)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #17</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Del-Mar-Va Council, Inc. – Boy Scouts of America`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Del-Mar-Va Council, Inc. – Boy Scouts of America`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Del-Mar-Va Council, Inc. – Boy Scouts of America`...</div>
<div class="progress-msg"><b>CREATING</b> `Del-Mar-Va Council, Inc. – Boy Scouts of America` `Partner`</div>
<div class="progress-msg">Associate post `Del-Mar-Va Council, Inc. – Boy Scouts of America` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.delmarvacouncil.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Del-Mar-Va Council, Inc. – Boy Scouts of America` `Partner` (ID: 182)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #18</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Health & Prosperity Through Leadership Institute (HPL 501c3 Institute)`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Health & Prosperity Through Leadership Institute (HPL 501c3 Institute)`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Health & Prosperity Through Leadership Institute (HPL 501c3 Institute)`...</div>
<div class="progress-msg"><b>CREATING</b> `Health & Prosperity Through Leadership Institute (HPL 501c3 Institute)` `Partner`</div>
<div class="progress-msg">Associate post `Health & Prosperity Through Leadership Institute (HPL 501c3 Institute)` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://hpl501c3.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Health & Prosperity Through Leadership Institute (HPL 501c3 Institute)` `Partner` (ID: 183)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #19</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Food Bank of Delaware Culinary School`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Food Bank of Delaware Culinary School`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Food Bank of Delaware Culinary School`...</div>
<div class="progress-msg"><b>CREATING</b> `Food Bank of Delaware Culinary School` `Partner`</div>
<div class="progress-msg">Associate post `Food Bank of Delaware Culinary School` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.fbd.org/the-culinary-school/`</div>
<div class="progress-msg"><b>CREATED</b> `Food Bank of Delaware Culinary School` `Partner` (ID: 184)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #20</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `People’s Place II, Inc.`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `People’s Place II, Inc.`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `People’s Place II, Inc.`...</div>
<div class="progress-msg"><b>CREATING</b> `People’s Place II, Inc.` `Partner`</div>
<div class="progress-msg">Associate post `People’s Place II, Inc.` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.peoplesplace2.com/`</div>
<div class="progress-msg"><b>CREATED</b> `People’s Place II, Inc.` `Partner` (ID: 185)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #21</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Vision to Learn - Delaware`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Vision to Learn - Delaware`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Vision to Learn - Delaware`...</div>
<div class="progress-msg"><b>CREATING</b> `Vision to Learn - Delaware` `Partner`</div>
<div class="progress-msg">Associate post `Vision to Learn - Delaware` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://visiontolearn.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Vision to Learn - Delaware` `Partner` (ID: 186)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #22</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `First State Community Loan Fund`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `First State Community Loan Fund`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `First State Community Loan Fund`...</div>
<div class="progress-msg"><b>CREATING</b> `First State Community Loan Fund` `Partner`</div>
<div class="progress-msg">Associate post `First State Community Loan Fund` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://firststateloan.org/`</div>
<div class="progress-msg"><b>CREATED</b> `First State Community Loan Fund` `Partner` (ID: 187)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #23</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Opera Delaware`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Opera Delaware`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Opera Delaware`...</div>
<div class="progress-msg"><b>CREATING</b> `Opera Delaware` `Partner`</div>
<div class="progress-msg">Associate post `Opera Delaware` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.operade.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Opera Delaware` `Partner` (ID: 188)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #24</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Wilmington Ballet Academy of Dance`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Wilmington Ballet Academy of Dance`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Wilmington Ballet Academy of Dance`...</div>
<div class="progress-msg"><b>CREATING</b> `Wilmington Ballet Academy of Dance` `Partner`</div>
<div class="progress-msg">Associate post `Wilmington Ballet Academy of Dance` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.wilmingtonballet.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Wilmington Ballet Academy of Dance` `Partner` (ID: 189)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #25</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Reading Assist Institute`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Reading Assist Institute`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Reading Assist Institute`...</div>
<div class="progress-msg"><b>CREATING</b> `Reading Assist Institute` `Partner`</div>
<div class="progress-msg">Associate post `Reading Assist Institute` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.readingassist.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Reading Assist Institute` `Partner` (ID: 190)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #26</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Literacy Volunteers Serving Adults`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Literacy Volunteers Serving Adults`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Literacy Volunteers Serving Adults`...</div>
<div class="progress-msg"><b>CREATING</b> `Literacy Volunteers Serving Adults` `Partner`</div>
<div class="progress-msg">Associate post `Literacy Volunteers Serving Adults` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://www.litvolunteers.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Literacy Volunteers Serving Adults` `Partner` (ID: 191)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #27</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Nativity Preparatory School of Wilmington`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Nativity Preparatory School of Wilmington`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Nativity Preparatory School of Wilmington`...</div>
<div class="progress-msg"><b>CREATING</b> `Nativity Preparatory School of Wilmington` `Partner`</div>
<div class="progress-msg">Associate post `Nativity Preparatory School of Wilmington` with current import ...</div>
<div class="progress-msg"><strong>ACF ADD-ON:</strong></div>
<div class="progress-msg">- Importing field `partner_url`</div>
<div class="progress-msg">- Field `partner_url` updated with value `http://nativitywilmington.org/`</div>
<div class="progress-msg"><b>CREATED</b> `Nativity Preparatory School of Wilmington` `Partner` (ID: 192)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
